# ═══════════════════════════════
#       Fuyuki Bot — Config
# ═══════════════════════════════

SESSION=FuyukiBot
API_ID=                 # my.telegram.org
API_HASH=               # my.telegram.org
BOT_TOKEN=              # @BotFather

LOG_CHANNEL=            # Log channel ID (e.g. -1001234567890)

# ── MongoDB ───────────────────────────────
MONGO_URI=              # mongodb+srv://user:pass@cluster.mongodb.net/
DB_NAME=FuyukiBot

TIMEZONE=Asia/Kolkata
BUILD_VERSION=v1.4
PORT=8080
